<!DOCTYPE html>

<html lang="en">
  <head>
    <title>register page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please Register</h1>
      <br>
      <form action="#" method="post">
          <div>
              <label>
                  Email
                  <input type="email" placeholder="Email" name="username">
              </label>
          </div>
          <div>
              <label>
                  Password
                  <input type="password" placeholder="Password" name="password">
              </label>
          </div>
          <div>
              <label>
                  Confirm Password
                  <input type="password" placeholder="Confirm Password" name="password_conf">
              </label>
          </div>
          <div>
              <label>Gender
              <select id="gender" name="genders">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Non-binary">Non-Binary</option>
                  <option value="Other">Other</option>

              </select>
              </label>
          </div>
          <div>
              <label>
                  Age
                  <input type="number" placeholder="Age" name="age">
              </label>
          </div>

        <input class="btn btn-default" type="submit" value="Register">
      </form>
      <a href="/login">Don't have an account? Register here!</a>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>